@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --cor-fundo: #FFFFFF;
    --cor-texto: #000000;
    --cor-destaque: #C33424;
    --cor-botao: #24247A;
    --cor-hover: ;
    --fonte-principal: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
    color: var(--cor-texto);
}


/* CLASSES UTILITÁRIAS */
a {
    text-decoration: none;
}

.centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.esconder {
    display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* CONFIGURAÇÃO GERAL DO CABEÇALHO */
.cabecalho {
    height: 30px;
    padding: 1rem;
    background: var(--cor-fundo);
    border-bottom: 0.1rem solid var(--cor-destaque);
}


/* CONFIGURAÇÕES DA BARRA DE MENU */
.cabecalho-menu {
    display: flex;
    justify-content: space-between;
}

.menu-navegacao {
    display: flex;
    gap: 3rem;
}

.menu-botoes {
    border-left: 0.1rem solid var(--cor-texto);
    padding-left: 1rem;
    gap: 1rem;
}

.menu-iniciar {
    gap: 1rem;
    color: var(--cor-texto);
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

.menu-iniciar img {
    width: 2rem;
}

.menu-page {
    color: var(--cor-texto);
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.2rem;
    padding-bottom: 0.2rem;
}

.menu-page:hover {
    color: var(--cor-destaque);
    border-bottom: 0.2rem solid var(--cor-destaque);
}

.menu-botao {
    display: flex;
    color: var(--cor-texto);
    text-decoration: none;
    flex-direction: column;
    font-size: 0.8rem;
    cursor: pointer;
}

.menu-botao:hover {
    filter: invert(33%) sepia(24%) saturate(5588%) hue-rotate(344deg) brightness(78%) contrast(95%);
}

.menu-botao img {
    width: 1.5rem;
}


/* CONFIGURAÇÕES DA ABA DE PESQUISA */
.cabecalho-pesquisa {
    background: var(--cor-destaque);
    padding: 1rem;
}

.cabecalho-pesquisa form {
    width: 50%;
    display: flex;
    position: relative;
}

.pesquisa-botao {
    height: 100%;
    width: auto;
    padding: 0 0.5rem;
    position: absolute;
    right: 0;
    background: var(--cor-fundo);
    border: none;
    border-radius: 0 28px 28px 0;
    cursor: pointer;
}

.pesquisa-texto {
    width: 100%;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 28px;
    font-size: 1rem;
    overflow: hidden;
}

.pesquisa-texto:focus {
    outline: 0.15rem solid var(--cor-botao);
    color: var(--cor-destaque);
}

/* RECURSIVIDADE */
/* TABLET */
@media (max-width: 768px) {
    .menu-navegacao {
        display: none;
    }
}

/* CELULAR */
@media (max-width: 480px) {
    .menu-botoes {
        border-left: none;
    }
}